<div class="page-header">
  <h3><a href="<%= @link.url %>"><%= @link.title %></a>
    <small>Submitted by <%= @link.user.email %></small></h3>
</div>

<button><%= link_to 'Go to URL', @link.url %></button> |
<button><%= link_to 'Edit', edit_link_path(@link) %></button> |
<button><%= link_to 'Back', links_path %></button>
